html, body {
    width: 100%;
    height:100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans',
	        'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica,
	        sans-serif;
    font-smooth:  always !important;
}

body {
    background-image: url(../img/body_background.png); 
    background-repeat: repeat;
}

a {
    text-decoration: none;
    font-weight: bolder;
}

#login {
    color: white;
    margin-right: 20px;
}

#banner {
    width: 100%;
    height: 200px;
    background-image: url(../img/banner.png);
    background-repeat: repeat-x;
    margin-bottom: 20px;
}

#side_menu {
    width: 250px;
    height:75%;
    background-image: url(../img/side_menu.png);
    background-repeat: repeat-x;	
    float: left;
}

#main_menu {
    width: 800px;
    height: 40px; 
    position: absolute;
    top: 160px;
    left: 0;
    background-image: url(../img/main_menu.png);
    background-repeat: repeat-x;
    border: none;
    border: 0px;
    margin: 0px;
    padding: 0px;
    font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans',
        'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica,
        sans-serif;
    font-size: 14px;
    font-weight: bold;
}

#content {
    width: 100%;
    height: 75%;
    text-align: center;
    margin-left: 30px;
    padding-bottom: 30px;
    
    border-radius: 0px 0px 10px 10px;
}

#login {
    height: 20px;
    background-image: url(../img/main_menu.png);
    background-repeat: repeat-x;
    text-align: right;
    width: 100%;
	font-size: 13px;
	font-variant: small-caps;
	font-weight: bolder;
}

div#logo {
    position: absolute;
    top: 30px;
    padding-left: 50px;
    height: 120px  
}

img#logo {
    position: relative;
    height: 100%;
}

#login_form input[type=text] {
    width: 250px;
    line-height: 25px;
    font-size: 13px;
    border-radius:5px;
    padding-left: 3px;
}

#login_form label {
    font-size: 14px;
	font-weight: bold;
	font-variant: small-caps;
}

h3 {
	font-size: 18px;
	font-weight: bolder;
	font-variant: small-caps;
}

div.view {
    min-width: 300px;
	max-width: 400px;
    margin: auto;
    text-align: center !important;
    background-image: url(../img/view.png);
    background-repeat: repeat-x;
    position: relative;
    top: -20px;
    padding-top: 40px;
    border-radius: 0 0 5px 5px;

}

.outer_text {
    width: 540px;
    min-height:200px;
    max-height: 400px;
    overflow:auto;
}

div.form {
    text-align: left;
    margin: auto;
    width: 250px;
}

.photos {
    width: 200px;
    text-align: center;
}

#buttons {
    width: 100%;
    text-align: center;
}

div#comprar {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

a#comprar {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-variant:small-caps;
}

.awesome, .awesome:visited {
    background: #222 url(../img/alert-overlay.png) repeat-x; 
    display: inline-block; 
    padding: 5px 10px 6px; 
    color: #fff; 
    text-decoration: none;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
    border-width: 0px;
}

.awesome:hover							
{ background-color: #111; color: #fff; }
.awesome:active							
{ top: 1px; }
.small.awesome, .small.awesome:visited 			
{ font-size: 11px; }
.awesome, .awesome:visited,
.medium.awesome, .medium.awesome:visited 		
{ font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large.awesome, .large.awesome:visited 			
{ font-size: 14px; padding: 8px 14px 9px; }

.green.awesome, .green.awesome:visited		
{ background-color: #91bd09; }
.green.awesome:hover						
{ background-color: #749a02; }
.blue.awesome, .blue.awesome:visited		
{ background-color: #2daebf; }
.blue.awesome:hover							
{ background-color: #007d9a; }
.red.awesome, .red.awesome:visited			
{ background-color: #e33100; }
.red.awesome:hover							
{ background-color: #872300; }
.magenta.awesome, .magenta.awesome:visited		
{ background-color: #a9014b; }
.magenta.awesome:hover							
{ background-color: #630030; }
.orange.awesome, .orange.awesome:visited		
{ background-color: #ff5c00; }
.orange.awesome:hover							
{ background-color: #d45500; }
.yellow.awesome, .yellow.awesome:visited		
{ background-color: #ffb515; }
.yellow.awesome:hover							
{ background-color: #fc9200; }


div#site {
    width: 800px;
    background-image: url(../img/content_background.png);
    background-repeat: repeat;
    margin-bottom: 30px !important;
    border-radius: 0px 0px 7px 7px;
    /*box-shadow: 10px 10px 5px #888;*/
}

#content_table {
    /*width: 740px;*/
}

table.display a {
    color: black;
}

table.display a:link:hover {
    color: #B22222;
}

table.display a:visited:hover {
    color: #B22222;
}

table.display a:visited {
    color: #696969;
}

.prod_thumb {
    border-radius: 2px;
    border: solid 5px #778899;
    margin: 5px 5px 5px 5px !important;
}

a:hover img.prod_thumb {
	-moz-box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
        box-shadow: 1px 1px 5px #999;
}

#prod_details {
    width: 740px;
    text-align: left;
}

#prod_details h3 {
    font-weight: bolder;
    text-shadow: 2px;
    color: #8b0000;
}

td.detail {
    border-left-color: #444;
    border-left-width: 4px;
    border-left-style: solid;
    background: rgba(255, 255, 255, 0.4);
    padding: 10px 10px 10px 10px;
    border-radius: 5px 5px 5px 5px;
}

td.prod_name {
    border-left-color: #444;
    border-left-width: 4px;
    border-left-style: solid;
    border-right-color: #444;
    border-right-width: 4px;
    border-right-style: solid;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px 10px 10px 10px;
    border-radius: 5px 5px 5px 5px;
}

#table-5 {
    background-color: #cccccc;
	padding: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #ebebeb;
        margin-left: auto;
        margin-right:auto;
}
#table-5 td, #table-5 th {
	padding: 1px 5px;
}
#table-5 thead {
	font: normal 15px Helvetica Neue,Helvetica,sans-serif;
	text-shadow: 0 1px 0 white;
	color: #999;
}
#table-5 th {
	text-align: left;
	border-bottom: 1px solid #fff;
}
#table-5 td {
	font-size: 14px;
}
#table-5 tr:hover {
	background-color: #fff;
        cursor: pointer;
}

table.info {
	font-size: 13px;
	width:100%;
}

table.info td {
	text-align: left;
}

table.info td:first-child {
	font-weight: bolder;
	text-align: right;
	width:50%;
}

div.info {
	width: 100%;
	text-align: center;
}

h2 {
	font-size: 14px;
}
