html, body {
    width: 100%;
    height:100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: Geneva, “Lucida Sans”, “Lucida Grande”, “Lucida Sans Unicode”, Verdana, sans-serif;
    font-size: 12px !important;
    font-smooth:  always !important;
}

a {
    text-decoration: none;
    font-weight: bolder;
}

#login {
    color: white;
    margin-right: 20px;
}

#banner {
    width: 100%;
    height: 200px;
    background-image: url(../img/banner.png);
    background-repeat: repeat-x;
}

#side_menu {
    width: 250px;
    height:75%;
    background-image: url(../img/side_menu.png);
    background-repeat: repeat-x;	
    float: left;
}

#main_menu {
    width: 100%;
    height: 40px; 
    position: absolute;
    top: 160px;
    left: 0;
    background-image: url(../img/main_menu.png);
    background-repeat: repeat-x;
    border: none;
    border: 0px;
    margin: 0px;
    padding: 0px;
    font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans',
        'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica,
        sans-serif;
    font-size: 14px;
    font-weight: bold;
}

#content {
    width: 100%;
    height: 75%;
    /*float: right;*/
    text-align: center;
}

#login {
    height: 20px;
    background-image: url(../img/main_menu.png);
    background-repeat: repeat-x;
    text-align: right;
    width: 100%;

}

div#logo {
    position: absolute;
    top: 30px;
    padding-left: 50px;
    height: 120px  
}

img#logo {
    position: relative;
    height: 100%;
}

#login_form input[type=text] {
    width: 250px;
    line-height: 25px;
    font-size: 16px;
    border-radius:7px;
}

#login_form label {
    font-size: 16px;
}

div.view {
    width: 300px;
    margin: auto !important;
    text-align: center !important;
    background-image: url(../img/view.png);
    background-repeat: repeat-x;
    position: absolute;
    top: 200px;
    left:auto;
    border-radius: 0 0 5px 5px;
}

div.form {
    text-align: left;
    margin: auto;
    width: 250px;
}

#buttons {
    width: 100%;
    text-align: center;
}

.awesome, .awesome:visited {
    background: #222 url(../img/alert-overlay.png) repeat-x; 
    display: inline-block; 
    padding: 5px 10px 6px; 
    color: #fff; 
    text-decoration: none;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
    border-width: 0px;
}

.awesome:hover							
{ background-color: #111; color: #fff; }
.awesome:active							
{ top: 1px; }
.small.awesome, .small.awesome:visited 			
{ font-size: 11px; }
.awesome, .awesome:visited,
.medium.awesome, .medium.awesome:visited 		
{ font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large.awesome, .large.awesome:visited 			
{ font-size: 14px; padding: 8px 14px 9px; }

.green.awesome, .green.awesome:visited		
{ background-color: #91bd09; }
.green.awesome:hover						
{ background-color: #749a02; }
.blue.awesome, .blue.awesome:visited		
{ background-color: #2daebf; }
.blue.awesome:hover							
{ background-color: #007d9a; }
.red.awesome, .red.awesome:visited			
{ background-color: #e33100; }
.red.awesome:hover							
{ background-color: #872300; }
.magenta.awesome, .magenta.awesome:visited		
{ background-color: #a9014b; }
.magenta.awesome:hover							
{ background-color: #630030; }
.orange.awesome, .orange.awesome:visited		
{ background-color: #ff5c00; }
.orange.awesome:hover							
{ background-color: #d45500; }
.yellow.awesome, .yellow.awesome:visited		
{ background-color: #ffb515; }
.yellow.awesome:hover							
{ background-color: #fc9200; }