#main_menu {
	border: none;
	border: 0px;
	margin: 0px;
	padding: 0px;
	font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans',
		'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica,
		sans-serif;
	font-size: 14px;
	font-weight: bold;
}

#main_menu ul { /*background:#333333;*/
	height: 35px;
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
}

#main_menu li {
	float: left;
	padding: 0px;
	height: 100%;
	
}

#main_menu li div {
	display:table-cell; vertical-align:middle;
}

#main_menu li a {
	/*background:#333333 url('img/seperator.gif') bottom right no-repeat;*/
	color: #cccccc;
	display: block;
	font-weight: normal;
	/*line-height: 20px;*/
	margin: 0px;
	padding: 0px 25px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	height: 100%;
}

#main_menu li a:hover,#main_menu ul li:hover a {
	background: #2580a2 url('img/hover.gif') bottom center no-repeat;
	color: #FFFFFF;
	text-decoration: none;
}

#main_menu li ul { /*background:#333333;*/
	display: none;
	height: auto;
	padding: 0px;
	margin: 0px;
	border: 0px;
	position: absolute;
	width: 225px;
	z-index: 200;
	/*top:1em;
	/*left:0;*/
}

#main_menu li:hover ul {
	display: block;
}

#main_menu li li {
	background: url('img/sub_sep.gif') bottom left no-repeat;
	display: block;
	float: none;
	margin: 0px;
	padding: 0px;
	width: 225px;
}

#main_menu li:hover li a {
	background: none;
}

#main_menu li ul a {
	display: block;
	height: 100%;
	font-size: 12px;
	font-style: normal;
	margin: 0px;
	padding: 0px 10px 0px 15px;
	text-align: left;
}

#main_menu li ul a:hover,#main_menu li ul li:hover a {
	background: #2580a2 url('img/hover_sub.gif') center left no-repeat;
	border: 0px;
	color: #ffffff;
	text-decoration: none;
}

#main_menu p {
	clear: left;
}